<header>
<div id="headline">
<ul>
{% if site.description %}
<li>
<a>{{ site.description }}</a>&nbsp
</li>
{% endif %}
<li><h1 class="headline">{{site.title}}</h1>&nbsp</li>
	
<!--<ul><li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}">Tags</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/comments' | prepend: site.baseurl | prepend: site.url }}">Comments</a><span>/</span>
	</li>	
		<li>
		<a href="{{ '/search' | prepend: site.baseurl | prepend: site.url }}">Search</a><span>/</span>
	</li>

</ul> -->
</ul>
</div>
</header>
