/* Sidemenu */
.menu-container {
    position: fixed;
	width:3rem;
	height: 3rem;
	overflow: hidden;
	left:0;
	top: 0;
	transition-delay: .3s;
}

.menu {
	position: relative;
	width: 6rem;
	height: 6rem;
	background-color: $brand-color;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	transition: all .3s;
}

#hamburger {
	display: none;
}

#label-ham {
    position: fixed;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	z-index: 2;
	cursor: pointer;
	tap-highlight-color:transparent;
	
	&:before {
  content: "";
  position: absolute;
  top: 65%;
  left: 0%;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
		transform: scale(2);
}
}

#hamburger:checked ~ .menu-container {
    width: 250px;
	height: 100%;
	transition-delay: 0s;
        @include media-query($on-palm) {
            width: 250px;
    }
}

#hamburger:checked ~ .menu-container .menu {
	width: 250vh;
	height: 250vh;
	transition: all .3s;
}

.menu-container .links {
	position: absolute;
    left: 143px;
    width: 100%;
    top: 359px;
	z-index: 3;
	transform: translate(-50%, -50%);
	text-align: left;
    @include media-query($on-palm) {
        left: 165px;
    }
	a {
		display: block;
		color: white;
        font-size: 26px;
		text-decoration: none;
        margin: 2rem 0rem;
        @include media-query($on-palm) {
            font-size: 18px;
            margin: 3rem 0rem;
        }
        &:hover {
            color: #eee;
        }
	}
}




